@use "header";
@use "fonts";

.container__footer {
   display: flex;
   justify-content: space-around;
   margin-top: 42px;
}

.wave-trans {
   width: 100%;
   height: 4.9rem;
   display: block;
   transform: rotate(180deg);
}

.container__footer-card {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 328px;
}

.container__footer-card img {
   margin-bottom: 30px;
}

.footer__heading {
   font-family: fonts.$heading-font;
}

.container__footer-card h3,
p {
   padding-bottom: 35px;
}

.fa-brands {
   margin-right: 14px;
   transition-duration: 0.4s;
}

.fa-brands:hover {
   color: #f28f19;
}

.fa-brands:active {
   color: #f28f19;
}

.card-1__copyright {
   margin-top: 40px;
   display: flex;
   align-self: flex-end;
}

.link-margin {
   margin-bottom: 7px;
}

.card-3__newsletter {
   display: flex;
   flex-direction: column;
}

.container__input {
   display: flex;
}

.input-field {
   width: 100%;
   border: none;
   padding-left: 16px;
   min-height: 40px;
   border-radius: 50px;
   background: rgba(29, 27, 32, 12%);
}

.input-field:hover {
   background: rgba(0, 83, 140, 12%);
}

.input-field:focus {
   background: rgba(0, 83, 140, 12%);
   outline: 2px solid #3682c9;
}

%button {
   background-color: #3682c9;
   border: none;
   border-radius: 100px;
   display: flex;
   padding: 14px 24px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   flex: 1 0 0;
   align-self: stretch;
   font-size: 14px;
   color: #fff;
   // margin-left: 24px;
}

.btn {
   @extend %button;
   &:hover {
      background-color: #f28f19;
      transition-duration: 0.4s;
   }
}

.btn {
   @extend %button;
   &:active {
      background-color: #d77b32;
   }
}

.btn-footer {
   margin-left: 24px;
}

@media screen and (max-width: 768px) {
   .container__footer {
      margin: 42px 30px;
   }
   .container__input {
      display: flex;
      flex-direction: column;
   }
}

@media screen and (max-width: 320px) {
   .wave-trans {
      height: 2rem;
   }

   .container__footer {
      display: flex;
      flex-direction: column;
   }

   .btn-footer {
      margin: 20px 0;
   }

   .card-1__icons {
      margin-top: 20px;
   }

   .container__footer-card.newsletter {
      margin-top: 20px;
   }
}

// .btn__footer:hover {
//    background-color: #f28f19;
// }

// .btn__footer:active {
//    background-color: #d77b32;
// }
