@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
  margin: 52px;
}

.container__nav-menu {
  width: 100%;
  max-width: 328px;
}

.menu {
  list-style: none;
}

.menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link:link {
  color: #3682c9;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.menu__link:visited {
  color: #3682c9;
  text-decoration: none;
}

.menu__link:hover {
  color: #f28f19;
  text-decoration: underline;
}

.menu__link:active {
  color: #f28f19;
  text-decoration: underline;
}